<div class="flex flex-col items-center justify-center" style="background-image: url('../../../assets/imagem1.png'); background-size: contain; background-position: center; height: 500px;">
   <div>
    <h3 class="text-center text-4xl font-bold mb-6 tc text-slate-200 bg-opacity-40" style="background-color: #272528;">Transformando ideias em realidade digital.</h3>
    <p class="text-center text-xl font-serif text-slate-200 bg-opacity-40" style="background-color: #272528;">A Ascacibas IT tem como objetivo oferecer serviços de excelência, criando soluções sob medida para atender às necessidades únicas de cada cliente. Com uma equipe altamente qualificada e experiente, estamos preparados para enfrentar os desafios tecnológicos mais complexos.</p>
   </div>
</div>
<div class="text-center text-xl font-serif text-slate-200 flex flex-col items-center justify-center" style="height: 250px; background-color: #272528;">
    <p style="width: 80%;">   Estamos prontos para ajudar empresas de todos os tamanhos a alcançarem seus objetivos e aprimorarem suas operações com soluções tecnológicas de ponta. Seja o desenvolvimento de um software sob medida, a criação de um website de impacto ou a implementação de estratégias de transformação digital, a Ascacibas IT é sua parceira confiável.
    </p>
</div>
<div class=" text-xl font-serif text-slate-200 flex  items-center justify-center" style="background-color: #333;">
    <div class="w-1/4">
      <img src="../../../assets/imagem2.png" alt="Imagem 2" class="object-contain h-full">
    </div>
    <div class="w-3/4">
      <p style="margin-left: 5%;">
        Desde o início, nossa paixão tem sido impulsionar a inovação e proporcionar resultados excepcionais. Combinamos criatividade, conhecimento técnico avançado e as melhores práticas da indústria para criar soluções de software personalizadas, ágeis e escaláveis.

        Acreditamos no poder da colaboração e valorizamos cada parceria que estabelecemos. Nossa filosofia é entender profundamente as necessidades e desafios de nossos clientes, trabalhando lado a lado para alcançar o sucesso.
        
        
        
        
        Convidamos você a acompanhar nossa jornada e a descobrir como podemos ajudar sua empresa a prosperar no mundo digital. Siga-nos, compartilhe com seus amigos e junte-se a nós nessa emocionante aventura tecnológica! 💻🌟

      </p>
    </div>
  </div>
  
<div class="text-center text-xl font-serif text-slate-200 flex flex-col items-center justify-center" style="height: 250px; background-color: #272528;">
    <h3 class="text-center text-4xl font-bold mb-6 tc text-slate-200"> Sobre nós</h3>
    <p style="width: 80%;">   
       

Como fundador da Ascacibas IT, estou constantemente imerso nesse universo em rápida evolução, e é com grande entusiasmo que encaro os desafios e as oportunidades que se apresentam diante de nós.

O mundo digital está em constante transformação, impulsionado pela inovação tecnológica e pela crescente demanda por soluções cada vez mais inteligentes e eficientes. Acredito firmemente que o desenvolvimento de software e web desempenhará um papel fundamental nessa jornada rumo a um futuro cada vez mais interconectado e automatizado.

Por isso resolvi criar a Ascacibas IT, para dar a todos soluções simples, técnologicas e que vão fazer seu negócio mudar de patamar.
    </p>
</div>
